FrontEnd/prove.py
FrontEnd/DB/*.xlsx
FrontEnd/DB/*
FrontEnd/prove2.py
FrontEnd/build/*
FrontEnd/dist/*
FrontEnd/__pycache__/*
FrontEnd/__pycache__/connector.cpython-39.pyc
FrontEnd/__pycache__/data_file_stream.cpython-39.pyc
FrontEnd/__pycache__/grid_matrix.cpython-39.pyc
FrontEnd/__pycache__/front_end.cpython-39.pyc
.gitignore
FrontEnd/front_end.spec
prove3.py
